@model Implementacija.Models.RezervacijaDB

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>RezervacijaDB</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.imeIPrezime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.imeIPrezime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.vrijemeRezervacije)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.vrijemeRezervacije)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.odabraniTretman)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.odabraniTretman)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tipPlacanja)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tipPlacanja)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
